<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{~/styles/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<form action="#" th:action="@{/request}" th:object="${callRequest}" method="post">
    <div class="rendered-form">
        <div class="formbuilder-text form-group field-firstName">
            <label for="firstName" class="formbuilder-text-label">Ваше имя<span
                    class="formbuilder-required">*</span></label>
            <input type="text" th:field="*{name}" placeholder="Сергей" class="form-control" name="firstName" access="false"
                   maxlength="20" id="firstName" required="required" aria-required="true">
        </div>
        <div class="formbuilder-text form-group field-phone">
            <label for="phone" class="formbuilder-text-label">Ваш номер телефона<span
                    class="formbuilder-required">*</span></label>
            <input type="text" th:field="*{phone}" placeholder="+7(987)123-456-78-90" class="form-control" name="phone" access="false"
                   maxlength="20" id="phone" required="required" aria-required="true">
        </div>
        <div class="formbuilder-date form-group field-date">
            <label for="date" class="formbuilder-date-label">Выберите дату для звонка<span class="formbuilder-required">*</span></label>
            <input type="date" th:field="*{date}" class="form-control" access="false" value="2022-07-14" id="date"
                   required="required" aria-required="true">
        </div>
        <div class="formbuilder-select form-group field-selectTime">
            <label for="selectTime" class="formbuilder-select-label">Укажите время для звонка<span
                    class="tooltip-element"
                    tooltip="Если вы не укажете время для звонка, то я перезвоню Вам в течение дня в удобное для меня время.">?</span></label>
            <select class="form-control" id="selectTime" th:field="*{time}">
                <option value="0">Выберите время</option>
                <option th:each="i : ${callRequest.availableTime}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>
        <div class="g-recaptcha col-sm-5" th:attr="data-sitekey=${@recaptchaService.getSite()}"></div>
        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
        <div class="formbuilder-button form-group field-buttonSubmit">
            <button type="submit" class="btn-primary btn" name="buttonSubmit" access="false" style="primary"
                    id="buttonSubmit">Запланировать звонок
            </button>
        </div>
    </div>
</form>
</body>
</html>