<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{~/styles/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="rendered-form">
    <div class="formbuilder-text form-group field-firstName">
        <label for="firstName" class="formbuilder-text-label">Ваше имя<span class="formbuilder-required">*</span></label>
        <input type="text" placeholder="Сергей" class="form-control" name="firstName" access="false" maxlength="20" id="firstName" required="required" aria-required="true">
    </div>
    <div class="formbuilder-text form-group field-phone">
        <label for="phone" class="formbuilder-text-label">Ваш номер телефона<span class="formbuilder-required">*</span></label>
        <input type="text" placeholder="+7(987)123-456-78-90" class="form-control" name="phone" access="false" maxlength="20" id="phone" required="required" aria-required="true">
    </div>
    <div class="formbuilder-date form-group field-date">
        <label for="date" class="formbuilder-date-label">Выберите дату для звонка<span class="formbuilder-required">*</span></label>
        <input type="date" class="form-control" name="date" access="false" value="2022-07-14" id="date" required="required" aria-required="true">
    </div>
    <div class="formbuilder-select form-group field-selectTime">
        <label for="selectTime" class="formbuilder-select-label">Укажите время для звонка<span class="tooltip-element" tooltip="Если вы не укажете время для звонка, то я перезвоню Вам в течение дня в удобное для меня время.">?</span></label>
        <select class="form-control" name="selectTime" id="selectTime">
            <option disabled="null" selected="null"> </option>
            <option value="09:00" id="selectTime-0">09:00</option>
            <option value="09:30" id="selectTime-1">09:30</option>
            <option value="10:00" id="selectTime-2">10:00</option>
            <option value="10:30" id="selectTime-3">10:30</option>
            <option value="11:00" id="selectTime-4">11:00</option>
            <option value="11:30" id="selectTime-5">11:30</option>
            <option value="13:00" id="selectTime-6">13:00</option>
            <option value="13:30" id="selectTime-7">13:30</option>
            <option value="14:00" id="selectTime-8">14:00</option>
            <option value="14:30" id="selectTime-9">14:30</option>
            <option value="15:00" id="selectTime-10">15:00</option>
            <option value="15:30" id="selectTime-11">15:30</option>
            <option value="16:00" id="selectTime-12">16:00</option>
            <option value="16:30" id="selectTime-13">16:30</option>
            <option value="17:00" id="selectTime-14">17:00</option>
        </select>
    </div>
    <div class="formbuilder-button form-group field-buttonSubmit">
        <button type="submit" class="btn-primary btn" name="buttonSubmit" access="false" style="primary" id="buttonSubmit">Запланировать звонок</button>
    </div>
</div>
</body>
</html>